<div>
  <div *ngIf="tema == 1">
    <div style="margin-bottom: 7%;" *ngFor="let item of this.cosasLindas; let i = index" data-index="i">
      <ion-card>
        <img src="{{item.pathFoto}}" />
        <ion-card-header>
          <ion-card-title>{{item.email}}</ion-card-title>
          <ion-card-subtitle>{{item.hora}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon id="{{i}}" name="heart-sharp" (click)="cambiarLike(item,i)" style="color: rgb(209, 37, 37);" *ngIf="item.likes.indexOf(this.as.logeado.email) != -1"></ion-icon>   
          <ion-icon id="{{i}}" name="heart-sharp" (click)="cambiarLike(item,i)" *ngIf="item.likes.indexOf(this.as.logeado.email) == -1"></ion-icon>  
        </ion-card-content>    
      </ion-card>
    </div>
  </div> 
  <div *ngIf="tema == 2">
    <div style="margin-bottom: 7%;" *ngFor="let item of this.cosasFeas; let i = index" data-index="i">
      <ion-card>
        <img src="{{item.pathFoto}}" />
        <ion-card-header>
          <ion-card-title>{{item.email}}</ion-card-title>
          <ion-card-subtitle>{{item.hora}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon id="{{i}}" name="heart-sharp" (click)="cambiarLike(item,i)" style="color: rgb(209, 37, 37);" *ngIf="item.likes.indexOf(this.as.logeado.email) != -1"></ion-icon>   
          <ion-icon id="{{i}}" name="heart-sharp" (click)="cambiarLike(item,i)" *ngIf="item.likes.indexOf(this.as.logeado.email) == -1"></ion-icon>  
        </ion-card-content>    
      </ion-card>
    </div>
  </div> 
  
 
</div>
