<ion-grid class="gridVertical">
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('5')">
      <div align="center">
        <img src="../../../assets/numeros/5.png" style="height: 8rem; padding-top: 25px;" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('7')">
      <div align="center">
        <img src="../../../assets/numeros/7.png" style="height: 8rem; padding-top: 25px;" alt="">
      </div>  
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col class="caja" style="margin-right:10px;" (click)="reproducirSonido('4')">
      <div align="center">
        <img src="../../../assets/numeros/4 (1).png" style="height: 8rem; padding-top: 25px;" alt="">
      </div>  
   
    </ion-col>
    <ion-col class="caja" (click)="reproducirSonido('8')">
      <div align="center">
        <img src="../../../assets/numeros/8.png" style="height: 8rem; padding-top: 25px;" alt="">
      </div>   
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
      <ion-col size="12" class="caja" (click)="reproducirSonido('6')">
        <div align="center">
          <img src="../../../assets/numeros/6 (1).png" style="height: 8rem; padding-top: 25px;" alt="">
        </div>
      </ion-col>

  </ion-row>
</ion-grid>

<ion-grid class="gridHorizontal">
  <ion-row style="flex-grow: 1; height: 50%;">
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('5')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/numeros/5.png" style="height: 7rem; width: 7rem;" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('7')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/numeros/7.png" style="height: 7rem; width: 7rem;" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%;" (click)="reproducirSonido('4')">
      <div align="center" style="width: 100%; height: 100%;" > 
        <img src="../../../assets/numeros/4 (1).png" style="height: 7rem; width: 7rem;" alt="">
      </div>   
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1; height: 50%; margin-top: 2%;">
    <ion-col class="caja2" style="height: 100%; margin-right: 2%;" (click)="reproducirSonido('8')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/numeros/8.png"  style="height: 7rem; width: 7rem;" alt="">
      </div>  
    </ion-col>
    <ion-col class="caja2" style="height: 100%;" (click)="reproducirSonido('6')">
      <div align="center" style="width: 100%; height: 100%;" >
        <img src="../../../assets/numeros/6 (1).png" style="height: 7rem; width: 7rem;" alt="">
      </div>
    </ion-col>
  </ion-row>
</ion-grid> 