 <ion-app>
 <ion-content>
     <!--  <app-agregar-usuario [perfil]="this.as.logeado.perfil"></app-agregar-usuario> -->
     <app-listado-usuarios [perfil]="this.perfil"></app-listado-usuarios>
 </ion-content>
</ion-app>
<!--   <ion-content>
   <h1 style="text-align: center;">Se inició sesión correctamente</h1>
   <div style="text-align: center;">
     <ion-button color="dark" (click)='logOut()'>Cerrar sesión</ion-button>
   </div>
   <div style="text-align: center; margin-top: 30px;">
    <ion-spinner name="crescent" *ngIf="this.as.loading"></ion-spinner>
  </div> -->
