<ion-app style="overflow: hidden;">
  <ion-content>
      <div class="fondo">
      <div align="center" style="padding: 15px;">
        <h1 style="font-size: 40px; text-align: center; margin-top: 10%; color: white;">
          Tabla Didáctica
        </h1>
        <img src="../../../assets/icono centro.png" width="100px" height="100px" style="border-radius: 20px; margin-top: 20px;"/>
    
        <div style="margin-top: 40px;">
          <form [formGroup]='form' (ngSubmit)="this.login()">
            <!--
              <div align="start" style="margin-left: 5%;">
                
  
              </div>
            -->
            <ion-label style="font-size: larger;">Correo </ion-label>
              <ion-item class="items" style="--border-radius: 15px; margin-top: 5%; padding-left: 3%; padding-right: 3%;" >
                <ion-input type="email" placeholder="Correo"  formControlName='email' name="email" required></ion-input>
              </ion-item>
             
              <div style="margin-bottom: 5%;">
                <small class="invalid" *ngIf="form.controls.email.errors?.required && form.controls.email.touched">El correo es requerido</small>
                <small class="invalid" *ngIf="form.controls.email.errors?.email">No es un correo válido</small>
              </div>

       

              <ion-label style="font-size: larger; margin-top: 5%;">Contraseña </ion-label>
              <ion-item class="items" style="margin-top: 20px; --border-radius: 15px; margin-top: 5%; padding-left: 3%; padding-right: 3%;">
                <ion-input type="password" placeholder="Contraseña" formControlName='password' name="password" required></ion-input>
              </ion-item>
              <small class="invalid" *ngIf="form.controls.password.errors?.required && form.controls.password.touched">La contraseña es requerida</small>
              <small class="invalid" *ngIf="form.controls.password.errors?.minlength">La contraseña debe tener 6 caracteres o más</small>
            
          </form>   

          <!--
            <ion-row style="text-align: center; margin-bottom: 5%; margin-top: 10%;">
              <ion-col>
                <ion-button fill="outline" (click)='cargarDatos(3)'  style="--border-radius: 10px; --border-color: #CA09B6; color: white;">Administrador</ion-button>  
              </ion-col>         
              <ion-col>
                <ion-button fill="outline" (click)='cargarDatos(1)' style="--border-radius: 10px; --border-color: #CA09B6; color: white;">Anónimo</ion-button>              
              </ion-col>
              <ion-col>         
                <ion-button fill="outline" (click)='cargarDatos(2)' style="--border-radius: 10px; --border-color: #CA09B6; color: white;">Casual</ion-button>     
              </ion-col>
              
            </ion-row>
          -->
          
         
        </div>
        <div>
          <ion-grid style="display: flex; flex-flow: column;">
            <mat-radio-group class="grupo" [(ngModel)]="perfil">
              <ion-row style="flex-grow: 1;">
                <ion-col>
                  <mat-radio-button class="boton" (click)="cargarDatos('Administrador')" >Administrador</mat-radio-button>
                </ion-col>
                <ion-col>
                  <mat-radio-button class="boton" (click)="cargarDatos('Anónimo')" >Anónimo</mat-radio-button>
                </ion-col>
                <ion-col>
                  <mat-radio-button class="boton" (click)="cargarDatos('Invitado')" >Invitado</mat-radio-button>
                </ion-col>
              </ion-row>        
            </mat-radio-group>     
          </ion-grid>
          <div>
            <ion-spinner name="crescent" *ngIf="this.as.loading" color="dark"></ion-spinner>
          </div>
        </div>


          <div style="padding-left: 2%; padding-right: 2%; margin-bottom: 25px;">
            <!--
              <ion-button fill="solid" expand="block" color="dark" [disabled]='form.invalid' (click)="login()" style="--border-radius: 10px;">Iniciar sesión</ion-button>
            -->  
            <ion-button fill="clear" expand="block" [disabled]='form.invalid' (click)="login()" style="border-radius: 10px; background-color: #ca09b7dd; color: white;">
              <ion-text>Iniciar Sesión</ion-text>
            </ion-button>
          </div>
    
      </div>
    </div>
    </ion-content>
</ion-app>

