ion-spinner
{
  width: 50px;
  height: 50px;
}



ion-content
{
  --background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../../../assets/theo-document\ \(2\).png") no-repeat; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
